<ion-view style="" title="GiveItBack">
    <ion-tabs style="" class="tabs-royal tabs-icon-only">
        <ion-tab style="" title="Map" icon="ion-map" href="#/tabs/map">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Home" icon="ion-ios-home" href="#/tabs/home">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Share" icon="ion-share" href="#/tabs/share-give-back">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Notification" icon="ion-android-notifications" href="#/tabs/notification">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Profile" icon="ion-ios-contact-outline" href="#/tabs/user-profile">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>