<ion-view style="" title="Share Give Backs">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">What i did</span>
                    <input placeholder="" ng-model="post.message" type="text">
                </label>
            </ion-list>
            <button style="" class="button button-stable button-block" ng-click="post()">Share</button>
             <button class="button button-block button-clear button-calm" ng-click="suggest()">
            Suggest Me!
        </button>
        </form>
    </ion-content>
</ion-view>